.header {
    height: 50px;
    margin: 16px auto;
    width: 70%;
    background-color: #76a7f0; 
    color: white;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    
  }

.header li {
    display: inline;
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
   
  }